{% extends 'home/layout.html' %}

{% block title %} Inicio - Blog sobre El Camino de las Big Tech {% endblock%}

{% block content %}

    <p> En este Blog te compartiremos los caminos que han tenido las Empresas <br> 
        Big Tech en el Sector Tech, tanto sus existos como sus fallas
    </p>

    <a href="{% url 'blog:create_blog' %}">Crear nuevo Blog</a> <br>
    <a href="{% url 'category:create_category' %}">Crear categoria</a>
    
{% endblock %}

{% block blog%}
    {% include 'blog/list_blog.html' %}
{% endblock %}