/* ========================================
layout.html - Estilos globales de la aplicación
======================================== */

body {
    font-family: Open Sans;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* ========================================
home.html - Inicio
======================================== */

.name-blog {
    padding: 50px;
}

.description-blog {
    padding-top: 50px;
    padding-bottom: 50px;
}

.create {
    color: black;
    margin: 20px;
    padding: 8px;
    text-decoration: none;
}

.create:hover {
    background-color: #C5C5C5;
    border-radius: 4px;
    margin: 20px;
    padding: 8px;
}

/* ========================================
blog/list_blog.html - Blog creados
======================================== */

.blog {
    background-color: #C5C5C5;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #343434;
    display: inline-block;
    margin: 100px 20px 10px 20px;
    padding: 18px;
    width: 350px;
    height: 710px;
    text-align: left;
    vertical-align: top;
}

.blog h3 {
    text-align: center;
}

.blog > img {
    position: relative;
    left: 25px;
}

.detail-blog {
    color: black;
    margin: 15px;
    padding: 8px;
    position: relative;
    left: 110px;
    top: 55px;
    text-decoration: none;
}

.detail-blog:hover {
    background-color: #343434;
    color: white;
    padding: 8px;
}

/* ========================================
blog/blog_detail.html - Detalles del Blog
======================================== */

.content-blog {
    margin-left: auto;
    margin-right: auto;
    margin: 60px;
    position: relative;
    left: 400px;
    text-align: left;
    width: 600px;
}

.content-blog > h3 {
    text-align: left;
}

.content-blog > img {
    position: relative;
    left: 125px;
}

.navegation-blog {
    color: black;
    margin: 20px;
    padding: 10px;
    position: relative;
    top: 30px;
    left: 55px;
    text-decoration: none;
}

.navegation-blog:hover {
    background-color: #343434;
    border-radius: 4px;
    color: white;
    margin: 20px;
    padding: 10px;
}

/* ========================================
blog/create_blog.html - Crear Blog
======================================== */

.create-blog {
    margin-left: 585px;
    text-align: left;
}

.blog-create {
    background-color: black;
    border: 2px solid #343434;
    border-radius: 4px;
    color: white;
    font-size: 16;
    margin-left: 100px;
    padding: 10px;
}

/* ========================================
category/create_category.html - Crear Categoria
======================================== */

.create-category {
    margin-left: 625px;
    text-align: left;
}

.category-create {
    background-color: black;
    border: 2px solid #343434;
    border-radius: 4px;
    color: white;
    font-size: 16;
    margin-left: 70px;
    padding: 10px;
}

/* ========================================
blog/delete_blog.html - Eliminar un Blog
======================================== */

.delete-blog {
    background-color: black;
    border: 2px solid #343434;
    border-radius: 4px;
    color: white;
    font-size: 16;
    padding: 10px;
}

/* ========================================
home/form.html - Formulario de Registro
======================================== */

.suscribe-blog {
    margin-left: 625px;
    text-align: left;
}

.blog-suscribe {
    background-color: black;
    border: 2px solid #343434;
    border-radius: 4px;
    color: white;
    padding: 10px;
    position: relative;
    left: 50px;
}



/* ========================================
layout.html - Footer del sitio
======================================== */

.pie-page {
    background-color: black;
    color: white;
    margin-top: 80px;
    padding: 20px;
}